footer{
    background: #243043;
}

section{
    display: inline-block;
    background-color: white;
    margin-left: 30px;

}
body{
    background-color: #ccd0d6;
    width: 1440px ;
}

 main img{
    display: block-inline;
    
    
}
 nav li{
    display: inline-block;
    margin-left: 20px;
} 
.nav-ul{
    display: inline;
}
.nav-img{
    margin-top: 8px;
    vertical-align: middle;
}
.img1{
    display: inline-block;
    vertical-align: middle;
  
}
.img2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
   

}
main img{
    display: block;
    margin-top: 50PX;
   
}
.section-img{
    width: 362px;
    height: 186px;
    
}
section{
    position: relative;
}
section h2 {
    position: absolute;
    top: 30px;
    left: 40px;
    font-style: italic;
    color: white;
}

.time{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 20px;
}
section p {
   margin-top: 40px;
   margin-left: 35px;
   font-family: Roboto;
   font-size: 12px;
   font-weight: 700;
   line-height: 21.72px;
  

}
h1{
    margin-left: 25px ;
}
footer li{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    width: 39px;
    height: 14px;
    margin-left: 60px;
    color: #818687;
    ;

}
footer ul{
    display: inline-block;

}
footer{
    position: relative;
    margin-top: 10px;
}
footer h2 {
   position: absolute;
   left: 600px;
   bottom: 100px;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 400;
   line-height: 14.06px;
   color: #FFFFFF;
   ;

}
footer img{
    position: absolute;
    left: 1100px; 
    top:10px;
}
ul li{
    list-style-type: none;
}